node_modules
.next
dist
.DS_Store
# Ignore Prisma SQLite database
prisma/dev.db
prisma/dev.db-journal

# Ignore Prisma generated client (optional)
node_modules/
prisma/generated/

# Ignore environment files
.env
.env.*

node_modules/
.next/
out/
*.config.js

# Ignore video folder
public/videos
/src/generated/prisma

.vscode/